name: tests

on: [push]

jobs:
  tests:
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Retrieve packages from cache
        uses: actions/cache@v1
        env:
          # increase this value to reset cache if `environment.yml` has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('environment.yml') }}
      - name: Create and activate conda environment
        uses: goanpeca/setup-miniconda@v1
        with:
          activate-environment: adcircpy
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yml
          use-only-tar-bz2: true
      #- name: Lint with flake8
      #  run: |
      #    # stop the build if there are Python syntax errors or undefined names
      #    flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      #    # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
      #    flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      #  shell: bash -l {0}
      - name: Test with coverage
        run: coverage run --source adcircpy -m nose --nologcapture --verbose
        shell: bash -l {0}
      - name: Generate coverage report
        run: coverage report -m
        shell: bash -l {0}
      - name: Create and commit coverage badge
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.8
        run: |
          coverage-badge -f -o $GITHUB_WORKSPACE/tests/coverage.svg
          rm -rf .coverage
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add $GITHUB_WORKSPACE/tests/coverage.svg
          git commit -m "coverage badge"
        shell: bash -l {0}
      - name: Push commit
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.8
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}